__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
venv/
.venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
*.swp
*.swo
.dockerignore
docker-compose*.yml
k8s/
linsoft-demo-chart/
*.yaml
*.yml
.github/
*.log
*.json
minikube-linux-amd64
README.md
.git/
